@{
    ViewData["Title"] = "Home Page";

    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : string.Empty;
}

<div class="text-center">
    <p style="font-family: 'Felix Titling'; color: purple;font-size:35px" class="display-4">Welcome to</p>
    <p style="font-family: 'Felix Titling'; color: purple;font-size:140px" class="display-4">@AppSettings.Title</p>
    <p style="font-family: 'Felix Titling'; color: purple;font-size:35px" class="display-4">@userName</p>
    <p>@AppSettings.Description</p>
</div>

